asgiref==3.6.0
beautifulsoup4==4.11.2
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
colorama==0.4.6
cryptography==39.0.0
Django==4.1.6
favicon==0.7.0
html5lib==1.1
idna==3.4
mechanize==0.4.8
pycparser==2.21
requests==2.28.2
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
termcolor==2.2.0
termcolors==0.1.0
tzdata==2022.7
urllib3==1.26.14
webencodings==0.5.1
